.sidebarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1;
}

.sidebarChat:hover {
    background-color: #ebebeb;
}

.sidebarChat__infoContainer {
    margin-left: 15px;
}

.sidebarChat__infoContainer > h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

a {
    text-decoration: none !important;
    color: #000;
}

.sidebarChat__addNewBtn {
    border-radius: 50% !important;
    border: none !important;
    background-color: #3ec44e !important;
    color: #fff !important;
    height: 60px !important;
    width: 60px !important;
    position: absolute !important;
    bottom: 20px !important;
    right: 20px !important;
    z-index: 10 !important;
}
